<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>   <!-- yield(:title)で指定されたタイトルのラベルが表示される -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shiv' %>           <!-- shivの行をrenderというヘルパーで置き換えている-->
</head>
<body>
  <%= render 'layouts/header' %>                <!-- headerにはサイトのロゴなどを表示させている-->
  <div class="container">
    
    <% flash.each do |key, value| %>
      <div class="alert <%= bootstrap_class_for(key) %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
